/*Sección About*/

.aboutContainer {
  background-color: var(--colorPlomo);
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.aboutTitulo {
  color: var(--colorOrange);
  font-size: clamp(1.2rem, 4vw, 2rem);
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.aboutParrafo {
  color: var(--colorAluminio);
  font-size: 28px;
  max-width: 1200px;
  width: 100%;
}

.sectionAbout {
  box-sizing: border-box;
  padding: 4rem 2rem;
  width: 100%;
  background-color: var(--colorPlomo);
}
