.linkNav {
  text-decoration: none;
  color: var(--colorBotones);
  font-size: 20px;
}

.menuHeader {
  background-color: var(--colorFondoNegro);
  margin: 0;
  padding: 0;
  width: "100%";
  height: 120px;
}
