/*Paleta de colores*/
:root {
  --corlorFondoCarbono: #454443;
  --colorFondoNegro: #000000;
  --colorFondoPlomo: #333;
  --colorlink: #000;
  --colorBotones: #ff8b00;
  --colorTexto: #000000;
  --colorTextoClaro: #fefefe8f;
}

#root {
  width: "100%";
  text-align: center;
  background-color: var(--corlorFondoCarbono);
}

body {
  box-sizing: border-box;
  font-family: "Raleway";
  margin: 0;
  padding: 0;
}
