/* ********** Custom Properties ********** */
:root {
  --corlorCarbono: #454443;
  --colorPlomo: #333;
  --colorOrange: #ff8b00;
  --colorAluminio: #fefefe8f;
  --bs-warning-rgb: #ff8b00;
}

/* **********   Reset Styles    ********** */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}

/* ********** Bootstrap Styles  ********** */

.bg-body-black {
  background-color: black;
}

/* **********     My Styles     ********** */

.cardContainer,
.xpContainer {
  background-color: var(--corlorCarbono);
}

.containerStudies {
  background-color: var(--colorPlomo);
}

/* **********   Medio Queries  ********** */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
